In [42]:
import pandas as pd

conditions = ["confirmed", "deaths", "recovered"]

def make_global_df():
    def make_df(condition):        
        df = pd.read_csv(f"data/time_series_covid19_{condition}.csv")
        df = (
            df.drop(
                ["Province/State", "Country/Region", "Lat", "Long"], axis=1
            )
            .sum()
            .reset_index(name=condition)
        )
        df = df.rename(columns={"index": "date"})
        return df

    final_df = None

    for condition in conditions:
        condition_df = make_df(condition)
        if final_df is None:
            final_df = condition_df
        else:
            final_df = final_df.merge(condition_df)
            
    return final_df

df = make_global_df()
df

         date  confirmed   deaths  recovered
0     1/22/20        557       17         30
1     1/23/20        657       18         32
2     1/24/20        944       26         39
3     1/25/20       1437       42         42
4     1/26/20       2120       56         56
...       ...        ...      ...        ...
1076   1/2/23  661190405  6692645          0
1077   1/3/23  661785336  6695472          0
1078   1/4/23  662210623  6698203          0
1079   1/5/23  662859638  6702330          0
1080   1/6/23  663564668  6705233          0

[1081 rows x 4 columns]